p {
  background-color: red;
font-family: courier;
text-align:center;
}
h1{
font-size: 300%;
text-align:center;
}
pre{
text-align:center;
}
img {

margin: 0 25%;

margin-right:0;
}
a{
text-align: center;

}
